* {
    font-size: 20px;
    font-family: Hack;
}
/* #22262A */

window#waybar {
    background: #404552;
    color: #eceff4;
}

#custom-media {
    font-size:  15px;
}
#custom-right-arrow-dark,
#custom-left-arrow-dark {
    color: #2e3440;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
    color: #404552;
    background: #2e3440;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#custom-media,
#temperature,
#tray {
    background: #2e3440;
    
}

#workspaces button {
    padding: 0 2px;
    color: #fdf6e3;
}
#workspaces button.focused {
    color: #268bd2;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}
#workspaces button:hover {
    background: #2e3440;
    border: #2e3440;
    padding: 0 3px;
}

#disk {
    color: #5e81ac;
}
#memory {
    color: #81a1c1;
}
#cpu {
    color: #88c0d0;
}
#battery {
    color: #859900;
}
#pulseaudio {
    color: #8fbcbb;
}
#temperature {
    color: #8cc0c6;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
    padding: 0 10px;
}
